.d-flex {
    display: flex;
    align-items: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}